mixin row(d, cls)
  tr.subject(class=cls, id=d.id)
    td.nom= d.propName
    td.description= d.description
    td.exemple= d.exampleValue

li.compact.subject.active(id=id)
  .toggle
    include ideationcard.pug
