li.ideationcard
  .typology(style="background-color: rgb(" + typologyColor.r + "," + typologyColor.g + "," + typologyColor.b + ");")= thematique
  .name
    span= label

  .description= description
  .kind(title=kind)
    img(src=kindImgUrl)

  .datacontroller(title="Responsable de traitement")
    span= sourceDataController

  .access(title="Accès aux données")
    span= access
