li.ideationcard
  .typology(style="background-color: rgb(" + typologyColor.r + "," + typologyColor.g + "," + typologyColor.b + ");")= thematique
  .name
    span= label

  .description= description
  .nature(title=nature)
    img(url=natureImgUrl)

  .datacontroller(title=sourceDataController)
    span= sourceDataController
