li.ideationcard
  .typology(style="background-color: rgb(" + typologyColor.r + "," + typologyColor.g + "," + typologyColor.b + ");")
    .thematique= thematique
    .kind(title=kind)
      img(src=kindImgUrl)
    .datacontroller(title="Responsable de traitement")
      img(src="img/ideationcard/bank.png")
      = sourceDataController

  .name
    span= label

  .description= description

  .support(title="Support")
    img(src="img/ideationcard/file.png")
    span= support
